/.idea/
/vendor/
/*.json
/*.srs
/*.db
/site/
/bin/
/dist/
/sing-box
/sing-box.exe
/build/
/*.jar
/*.aar
/*.xcframework/
.DS_Store
/config.d/
/venv/

# Go related
# Ignore compiled executable files
*.exe
*.dll
*.so
*.dylib
*.test
# Ignore output of the 'go test' command and coverage tool
*.out
# Directories like go.work and go.work.sum that are not commonly committed
go.work
go.work.sum

# Log files
*.log

# Temporary files
*.tmp
*.swp
